:root{
    --green: rgb(26, 95, 26);
    --BL: rgb(24, 24, 24);
    --WT: white;
}

body{
    background-color: var(--BL);
    overflow:hidden ;
}

.navbar{
    box-shadow: 1px 1px 10px black;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 8em;
    background-color: var(--green);
}

.navbar img{
    height: 100%;
    
}

.navbar text{
    color: var(--WT);
    float: right;
}

.container img{
    align-items: center;
    display: flex;
    max-height: 70%;
    border: solid rgb(150, 150, 150) .7px;
}
    .container{
        display: flex;
        position: absolute;
        top:0;
        
        
    }

.box{

    display: flex;
    vertical-align: baseline;
}
.sq{
    margin-top: 10%;
    display: flex;
    position: relative;
    background-color: var(--WT);
    border-radius: 5px;
    padding: 10px;
}

.sq:first-child{
    text-align: center;
    height: 27em;
    width: 40em;
    margin-right: 10px;
    margin-left: 10%;
}

.sq:last-child{
    width: 25em;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.sq label.name{
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 50px;
    position: absolute;
    color:rgb(116, 116, 116);
    font-family:Arial, Helvetica, sans-serif;
}
p{
    
    color:rgb(116, 116, 116);
    text-align: left;
    align-items: center;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 75px;
    margin-right: 20px;
}

label.price{
    display: flex;
    
    margin-top: 10px;
    font-size: 2rem;
    color:rgb(53, 53, 53);
    font-family:Arial, Helvetica, sans-serif;
}


.sq input[value="COMPRAR"],
input[value="entrar"] {
    display: flex;
    position: absolute;
    bottom:50px;
    border: none;
    background-color: var(--green);
    width: 220px;
    height: 40px;
    border-radius: 4px;
    opacity: .85;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.sq input[value="COMPRAR"]:hover,
input[value="entrar"]:hover{
    opacity: 1;

    width: 240px;
    transition: 0.3s;
}
.Janela-login {
    
    position: relative;
    display: none; 
    justify-content: center;
    align-items: center;
    color: var(--WT);
    z-index: 999;
}
.modal{
    
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 30%;
    height: 500px;
    border-radius:4px ;
    box-shadow: 2px 2px 10px black;
    background-color: rgba(233, 233, 233, 0.815);
    
    backdrop-filter:blur(10px);
  
}
input[value ="entrar" ]{

margin-top: 10px;
}
input[type="text"],
input[type="password"]{
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding-top: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: 'Candara', sans-serif;

}
.title{
    color: var(--BL);
    position: absolute;
    margin:100px 10px 0px 10px;
    text-align: center;
    top:0;
    font-size: 1.3em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a[id="conta"]{
    color:rgb(116, 116, 116);
}
.fechar{
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(114, 114, 114);
    position: absolute;
    top:0;
    right: 0;
    border: none;
    background-color:rgba(255, 255, 255, 0);
}
.Janela-login.abrir{
    display: flex;
}